@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-background: #1a1a1a;
  --global-foreground: #faf4f4;
  --border-color: #78716c;
  --primary-bg: #292524;
}

body {
  color: var(--global-foreground);
  background: var(--global-background);
  font-family: Arial, Helvetica, sans-serif;
}
